

header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  height: 80px;
}

 .navigation {
   background-color: turquoise
}

div.sub-header {
  background-image: url('../../images/park.jpg');
  background-size: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-header img {
    margin-bottom: 50px;
}

h1 {
  margin-bottom: 50px;
}

.what-are-dogs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

img {
    border-radius: 50%;
    boarder: turquoise;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.nav-link {
  align-items: center;
  padding: 8px 4px;
  display: flex;

}

.dog-rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  color: white;
  background-color: #5DADE2
}
